$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'color';

h1 {
  color: $uclablue;
  font-family: monospace;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}



.top-nav {
  display: inline;
  font-size: 40px;
  margin: auto;
  padding: 20px 20px;
}

body {
  background-color: $ghostwhite;
  margin: auto;
  text-align: center;
}

button {
  margin: auto;
}

td {
  align-content: center;
  border: 6px ridge $sunsetorange;
  height: 200px;
  text-align: center;
  width: 200px;
}

table {
  border-collapse: collapse;
  margin: auto;
  }

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.create-game {
  background-color: none;
  border-color: $sunsetorange;
  color: $uclablue;
}

.reset-game {
  background-color: none;
  border-color: $sunsetorange;
  color: $uclablue;
}
